/* CSS declarations go here */

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h2, h3 {margin-top: 0; margin-bottom: 0;}
.room-details {margin-top: 10px; margin-bottom: 10px;}
h4 {margin-top: 0px; margin-bottom: 5px; font-weight: normal;}

p {
	margin-bottom: 0px;
}

.hidden {
	display: none;
}

.play-form {
	margin-bottom: 10px;
}

.play-log {
	width: 100%;
	height: 300px;
	overflow: scroll;	
}

.test-log {
	width: 100%;
	height: 100px;
	overflow: scroll;
}

.room-script, .CodeMirror {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

.test-input {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;	
}

input[type="text"], textarea.room-css {
	width: 300px;
}

.room-edit-form label.author-label {
	margin-top: 10px;
	display: inline-block;
	width: 20px;
}

input.author-input {
	width: 280px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.api-cheat-sheet {
	margin-top: 50px;
}

ul.log li b {
	cursor: pointer;
	font-family: sans-serif;
  color: #000;
  vertical-align: middle;
  font-size: 0.6em;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #bbb;
  padding: 0.2em 0.5em;
}

.room-options p {
	margin: 0;
	margin-top: 4px;

}

