/* CSS declarations go here */

body { 
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

/* the canvas for the places network */

#cy {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
	z-index: 0;
}

/* resets */

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
p { margin-bottom: 0px; }
h1, h2, h3, h4 { font-weight: normal; }
h2, h3 {margin-top: 0; margin-bottom: 0px;}
input[type="text"] { width: 100%; }


/* some random styling, todo: clean up */

h1 { text-align: center; z-index: 100; position: relative;}
h4 {margin-top: 0px; margin-bottom: 5px; font-weight: normal;}
a { color: #777; }
a:visited { color: #777; }

/* map */

.room-overview {
	clear: both;
	padding: 10px;
}

#cy {
	z-index: 0;
}

.room-overview h2, h4 {
	clear: both;
}

.qtip-content {
	padding: 10px;
	font-size: 16px;
	text-align: center !important;
}

.qtip-content p {
	margin: 10px;
}

.room-details {
	float: left;
	border: thin solid #eee;
	margin: 10px;
	padding: 10px;
	width: 200px;
	height: 100px;
}

.public-places .open-form-button {
	display: none;
}

.new-room-form {
	clear: both;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.new-room-form input[type="text"] {
	width: 200px;
}

.autogenerate {
	margin-left: 20px;
}

div.qtip-content h3 {
	font-weight: 300;
	margin-bottom: 5px;
	line-height: 1em;
}

/* play view */

.play-menu {
	position: absolute;
	right: 10px;
	top: 10px;	
}

.play-area .open-editor-button {
}

.claim-notice {
	color: #008000;
}

.play-area {
	padding: 40px;
	width: 60%;
	margin: auto;
}

.play-area.with-editor {
	padding: 40px;
	width: 35%;
	float: left;
}

.play-log {
	width: 100%;
	height: 400px;
	overflow: scroll;	
}

ul.log li {
	margin-top: 10px;
}

ul.log li b {
	cursor: pointer;
	font-family: sans-serif;
  color: #000;
  vertical-align: middle;
  font-size: 0.6em;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #bbb;
  padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.play-form {
	margin-bottom: 10px;
}

#command-input {
}

input.player-name[type="text"] {
	margin-top: 10px;
	width: 150px;
}

/* editor */

.room-edit-form {
	width: 50%;
	float: right;
	overflow: scroll;
	border-left: solid thin #eee;
	padding: 10px;
	height: 100vh;
  box-sizing: border-box;
	overflow-y: scroll;
}

.close-editor-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.room-script, .CodeMirror {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

.room-edit-form h2 {
	margin-bottom: 5px;
}

.room-edit-form p.description, .room-edit-form p.author {
	margin-top: 2px;
	margin-bottom: 2px;
}

textarea.room-css {
	width: 100%;
}

.room-edit-form label.visibility-label, .room-edit-form label.my-places-label {
	display: inline-block;
	margin-top: 5px;
}

.room-edit-form label.author-label {
	margin-top: 10px;
	display: inline-block;
	width: 20px;
}

input.author-input {
	width: 280px;
}

.show-in-my-places {
	margin-top: 15px;
}

.secret-link {
	margin-bottom: 10px;
}

ul.place-tags {
	margin-top: 2px;
	display: inline-block;
}

ul.place-tags li {
	display: inline-block;
	padding-right: 2px;
}

ul.place-tags li a.remove-tag {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 70%;
}

form.add-tag {
	display: inline-block;
	margin-top: 7px;
}

.add-tag input {
	width: 140px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.api-cheat-sheet {
	margin-top: 20px;
	margin-bottom: 5px;
}

.api-cheat-sheet-code {
	display: none;
}

.room-options p {
	margin: 0;
	margin-top: 4px;
}

p.secret-link {
	margin-top: 4px;
}

.css-area {
	display: block;
}

.css-area.hide-css {
	display: none;
}