/* CSS declarations go here */

body { 
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

/* the canvas for the places network */

#cy {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
	z-index: 0;
	background-color: #000;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#cy:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#cy.clickable { /* set dynamically by javascript */
	cursor:pointer;
}

#cy_loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.9);
	color:white;
	background-image:url(images/gears.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;
}

/* resets */

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
p { margin-bottom: 0px; }
h1, h2, h3, h4 { font-weight: normal; }
h2, h3 {margin-top: 0; margin-bottom: 0px;}
input[type="text"] { width: 100%; }

/* some random styling, todo: clean up */

body  { font-family: Roboto; }
.CodeMirror { font-family: monospace !important; }

h1 { text-align: center; z-index: 100; position: relative;}
h4 {margin-top: 0px; margin-bottom: 5px; font-weight: normal;}
a { color: #777; }
a:visited { color: #777; }

input {
	height: 30px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

input[type="button"] {
	border: 1px solid #ddd;
	background-color: #fff;
}

input[type="button"]:hover {
	cursor: pointer;
}

/* map */

.room-overview {
	clear: both;
	padding: 10px;
}

#cy {
	z-index: 0;
}

.room-overview h2, h4 {
	clear: both;
}

.qtip-content {
	padding: 10px;
	font-size: 16px;
	text-align: center !important;
}

.qtip-content p {
	margin: 10px;
}

.room-details {
	float: left;
	border: thin solid #eee;
	margin: 10px;
	padding: 10px;
	width: 200px;
	height: 100px;
}

.public-places .open-form-button {
	display: none;
}

div.qtip-content h3 {
	font-weight: 300;
	margin-bottom: 5px;
	line-height: 1em;
}

/* play view */

.claim-notice {
	color: #008000;
}

.play-area {
	width: 100%;
}

.cancel-play-button {
	position: absolute;
	top: 10px;
	left: 10px;
}

.chat-select {
	position: absolute;
	left: 200px;
	width: 5%;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	background-color: #fff;
}

.chat-select input {
	width: 100%;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
	text-align: center;
}

input.player-name {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 120px
}

.active-chat {
	position: absolute;
	z-index:2;
	left: 33.33%;
	width: 33.33%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding: 10px;
	
}

.play-area.with-editor .active-chat {
	left: 20%;
}

.active-chat .chat {
	position: absolute;
	top: 0px;
	bottom: 190px;
	right: 10px;
	left: 10px;
	overflow: auto;	
	background-color: rgba(0,0,0,0.5);
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQYV2NkwAT/GdHE/gP5jMiCYAGQIpggTACuEq4CatR/ABtJBwRoQi0oAAAAAElFTkSuQmCC");*/
	background-repeat: repeat;

}

.chat::-webkit-scrollbar-track, 
.chat::-webkit-scrollbar {
    display:none;
}

.play-log {
	width: 100%;
	padding-top: 100%;
}

ul.log {
	pointer-events:auto;
}

ul.log li {
	margin-top: 20px;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #111;
	background-color: #fff;	
	margin-right: 40px;
	position: relative;
}

ul.log li.right {
	margin-left: 40px;
	margin-right: 0px;
}

ul.log li b {
	/*
	font-weight: normal;
	font-size: 0.8em;
	cursor: pointer;
  color: #000;
  vertical-align: middle;
  background: #eee;
	border-radius: 4px;
  padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	*/
	cursor: pointer;
	font-weight: normal;
	border-radius: 4px;
	background-color: rgba(255,255,0,1);
	font-size: 0.9em;
}

ul.log li b + b {
	margin-left: 1ex;
}

ul.log li label {
	position: absolute;
	top: -15px;
	color: #aaa;
	text-transform: uppercase;
	font-size: 0.6em;
}

ul.log li.right label {
	right: 10px;
}

.play-form {
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.play-form input {
	width: 100%;
	box-sizing : border-box;
}

.open-editor-button {
	position: absolute;
	right: 15px;
	top: 15px;	
}

.create-new-place-button {
	position: absolute;
	right: 15px;
	top: 50px;
}

.re-enter-room-button {
	position: absolute;
	left: 0px;
	bottom: 10px;
	z-index: 2;
}

.campfire {
	height: 150px;
	left: 0px;
	right: 0px;
	position: absolute;
	bottom: 40px;
}

.campfire:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
		background-image: url("images/fire-animated-gif-4.gif");
    background-size: cover;
}


/* editor */

.room-edit-form {
	width: 46.66%;
	position: absolute;
	right: 0px;
	overflow: scroll;
	padding: 10px;
	height: 100vh;
  box-sizing: border-box;
	overflow-y: scroll;
	background-color: #fff;
	border-left: 5px solid #000;
}

.close-editor-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.room-script, .CodeMirror {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

.room-edit-form h2 {
	margin-bottom: 5px;
}

.room-edit-form p.description, .room-edit-form p.author {
	margin-top: 2px;
	margin-bottom: 2px;
}

textarea.room-css {
	width: 100%;
}

.room-edit-form label.visibility-label, .room-edit-form label.my-places-label {
	display: inline-block;
	margin-top: 5px;
}

.room-edit-form label.author-label {
	margin-top: 10px;
	display: inline-block;
	width: 20px;
}

input.author-input {
	width: 280px;
}

.show-in-my-places {
	margin-top: 15px;
}

.secret-link {
	margin-bottom: 10px;
}

ul.place-tags {
	margin-top: 2px;
	display: inline-block;
}

ul.place-tags li {
	display: inline-block;
	padding-right: 2px;
}

ul.place-tags li a.remove-tag {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 70%;
}

form.add-tag {
	display: inline-block;
	margin-top: 7px;
}

.add-tag input {
	width: 140px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.api-cheat-sheet {
	margin-top: 20px;
	margin-bottom: 5px;
}

.api-cheat-sheet-code {
	display: none;
}

.room-options p {
	margin: 0;
	margin-top: 4px;
}

p.secret-link {
	margin-top: 4px;
}

.css-area {
	display: block;
}

.css-area.hide-css {
	display: none;
}